<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Looping and List Comprehension

_Authors: Riley Dallas (ATX)_

---

## Lesson Objectives
---
1. Review of `for` loops
2. Understand how to create list comprehensions
3. Use list comprehension to map and filter enumerable objects

## `for` Loops
---

The `for` statement is used to **iterate** over the elements of a sequence. It's 
used when you have a piece of code which you want to repeat n number of times. 
You can use any enumerable object (such as strings, lists, tuples, dict and so on) 
in a `for` loop.
```python
for number in [1, 2, 3]: 
    print(number) 
    print('Yes' * number) 
    print('') # Creates a line break after each iteration
```

The loop above has the following parts:
1. The word `for`
2. A variable that you create (`number`), which be be used for each item in the sequence
3. The word `in`
4. The sequence to iterate over

Copy and paste the loop above to see what it does.

In [1]:
for number in [1,2,3]:
    print(number)
    print('Yes' * number)
    print(' ')

1
Yes

2
YesYes

3
YesYesYes

## Repeat `for` loops
---

Let's try a simple repeat `for` loop. A repeat loop is for when you just want to repeat the exact same 
thing a specific number of times. In that case only the length of the sequence, 
not the individual elements are important. For this, we can use use the `range` function to create our sequence. 

In the block below, use `range` to create a for loop that prints **Hello** 10 times.

In [2]:
for _ in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

## Looping over strings
---

We've mostly played it safe with list sequences.  Let's try looping through the letters in a word:

```python
word = "computer"
```

How do we do this?

In [4]:
for letter in 'computer':
    print(letter)

c
o
m
p
u
t
e
r

## Looping over dictionaries
---

You can also loop through the key/value pairs in a dictionary. 

To see this in action, create a dictionary called `user` with the keys `'first_name'` and `'last_name'`

In [16]:
users = [('chuck', 'dye', 12987), ("dave","cameo", 87686)]

In [12]:
user = {
    'first_name' : 'Jon',
    'last_name' : 'Belt',
    'number' : 123456789
}

for key, value in user.items():
    print(key)
    print(value)
    print('~' * 5)

first_name
Jon
~~~~~
last_name
Belt
~~~~~
number
123456789
~~~~~

Dictionaries have a method called `items()` specifically for looping. We'll use that in conjunction with a for loop to iterate over the key/value pairs in our `user` dictionary.

In [18]:
for first, last, number in users:
    print(f'hello mr. {last}, or should I say {first}? your number is {number}')

hello mr. dye, or should I say chuck? your number is 12987
hello mr. cameo, or should I say dave? your number is 87686

## Mapping
---

We can also use `for` loops to perform item-wise transformations on a list. Let's say we have a list of numbers, 1-10:

```python
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In the cell below, create a new list (`squared_numbers`) that loops through `numbers` and squares each one.

In [19]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
squared = []

for num in numbers:
    squared.append(num ** 2)
squared

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## List Comprehension
---

The above code works correctly, hower in Python there's a way to do this more succinctly using list comprehension.

In [21]:
# Recreate squared_numbers using list comprehension

[num ** 2 for num in numbers]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Mapping practice: lowercase names
---

Given the following list:
```python
names = ['Xlegic', 'John', 'Jasmine', 'Eva']
```

Use list comprehension to lowercase each name.

In [2]:
names = ['Xlegic', 'John', 'Jasmine', 'Eva']

lower_names = [name.upper() for name in names]

lower_names

['XLEGIC', 'JOHN', 'JASMINE', 'EVA']

## Practice: odds and evens
---

Sometimes your transformations are more complex, and might require a function. Let's walk through an example:

1. Create a list of integers, 1 through 100
2. Create a function that accepts a single integer as a parameter and returns `'odd'` or `'even'`, depending on the input.
3. Use list comprehension to map through your list of integers and return a list of odd/even strings

In [33]:
# create an list of integers: 1-100

ints = [x for x in range(1,101)]
ints

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [38]:
# create a function that accepts a single integer, 
# and returns the string 'odd' or 'even', depending on the integer
def even_or_odd (number):
    if number % 2 == 0:
        return 'even'
    else:
        return 'odd'
    
even_or_odd(21)

'odd'

In [39]:
# use list comprehension to convert your list of integers 
# to an list of odd/even strings

[(even_or_odd(x), x) for x in ints]

[('odd', 1),
 ('even', 2),
 ('odd', 3),
 ('even', 4),
 ('odd', 5),
 ('even', 6),
 ('odd', 7),
 ('even', 8),
 ('odd', 9),
 ('even', 10),
 ('odd', 11),
 ('even', 12),
 ('odd', 13),
 ('even', 14),
 ('odd', 15),
 ('even', 16),
 ('odd', 17),
 ('even', 18),
 ('odd', 19),
 ('even', 20),
 ('odd', 21),
 ('even', 22),
 ('odd', 23),
 ('even', 24),
 ('odd', 25),
 ('even', 26),
 ('odd', 27),
 ('even', 28),
 ('odd', 29),
 ('even', 30),
 ('odd', 31),
 ('even', 32),
 ('odd', 33),
 ('even', 34),
 ('odd', 35),
 ('even', 36),
 ('odd', 37),
 ('even', 38),
 ('odd', 39),
 ('even', 40),
 ('odd', 41),
 ('even', 42),
 ('odd', 43),
 ('even', 44),
 ('odd', 45),
 ('even', 46),
 ('odd', 47),
 ('even', 48),
 ('odd', 49),
 ('even', 50),
 ('odd', 51),
 ('even', 52),
 ('odd', 53),
 ('even', 54),
 ('odd', 55),
 ('even', 56),
 ('odd', 57),
 ('even', 58),
 ('odd', 59),
 ('even', 60),
 ('odd', 61),
 ('even', 62),
 ('odd', 63),
 ('even', 64),
 ('odd', 65),
 ('even', 66),
 ('odd', 67),
 ('even', 68),
 ('odd', 69),
 ('even', 70),
 ('odd', 71),
 ('even', 72),
 ('odd', 73),
 ('even', 74),
 ('odd', 75),
 ('even', 76),
 ('odd', 77),
 ('even', 78),
 ('odd', 79),
 ('even', 80),
 ('odd', 81),
 ('even', 82),
 ('odd', 83),
 ('even', 84),
 ('odd', 85),
 ('even', 86),
 ('odd', 87),
 ('even', 88),
 ('odd', 89),
 ('even', 90),
 ('odd', 91),
 ('even', 92),
 ('odd', 93),
 ('even', 94),
 ('odd', 95),
 ('even', 96),
 ('odd', 97),
 ('even', 98),
 ('odd', 99),
 ('even', 100)]

## Filtering
---

Filtering is when you return a subset of a given list that meets a certain condition. Like mapping, we can use list comprehension to filter. 

Given the following list of people:

```python
classroom = [
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'}
]
```

Use list comprehension to return only those individuals whose role is `'student'`.

In [40]:
classroom = [
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'},
    {'name': 'Student McStudentson', 'role': 'student'}
]

In [43]:
students = [classmate['name'] for classmate in classroom if classmate['role'] == 'student']
students

['Student McStudentson',
 'Student McStudentson',
 'Student McStudentson',
 'Student McStudentson',
 'Student McStudentson',
 'Student McStudentson',
 'Student McStudentson']

In [45]:
teachers = [classmate['name'] for classmate in classroom if classmate['role'] == 'teacher']
teachers

['Teacher McTeacherson', 'Teacher McTeacherson', 'Teacher McTeacherson']

Now let's use list comprehension to filter our list to be teachers.

## Practice: Finding primes
---

In the cells provided, do the following:

Create a function (`is_prime`) that takes a given number and returns `True` if it's prime and `False` if it's not.

Reminder: 1 is not a prime.

In [55]:
# is_prime

def is_prime(num):
    if num == 1:
        return False
    elif num == 2:
        return True
    for i in range(2,num //2 + 1):
        if num % i == 0:
            return False
    return True
print(2, is_prime(2))
print(3, is_prime(3))
print(4, is_prime(4))

2 True
3 True
4 False

Now, create a list of numbers, 1-100

In [56]:
# numbers 1-100

ints = [num for num in range (1,101)]

Filter your list of numbers to just the primes

In [63]:
# Filter the primes
[x for x in ints if is_prime(x) | (x == 18)]

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 18,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

## List Comprehension: Dictionaries
---

Despite the name, list comprehension is not exclusive to lists. We can also map over dictionaries, but with a subtle difference: we'll wrap our list comprehension in `{}` instead of `[]` to retain the dictionary type.

Let's say we have a dictionary of users with their corresponding emails:

```python
users = {
    'user1': 'FOO@BAR.COM',
    'user2': 'JOHN@DOE.COM',
    'user3': '90SRULE@AOL.COM'
}
```

We might want to lowercase all the email addresses before saving them to a database. In the block below, map through `users` and return the same dictionary, but with all the emails lowercased.

In [69]:
users = {
    'user1': 'FOO@BAR.COM',
    'user2': 'JOHN@DOE.COM',
    'user3': '90SRULE@AOL.COM'
}

{user_id : email for user_id, email in users.items() if 'aol'in email.lower()}

{'user3': '90SRULE@AOL.COM'}

# Filtering Dictionaries
---

If we can map dictionaries, we can also filter them. Using our `users` dictionary from above, let's filter only users who have an AOL account.

In [70]:
{user_id : email for user_id, email in users.items() if 'aol'in email.lower()}

{'user3': '90SRULE@AOL.COM'}

In [ ]:
#[TRANSFORMATION (IF ANY) ~~~~~~~ for something in something ~~~~~ if statement (if needed)]